.container {
    @include container;
}

.fila{
    width: 32.5%;
    display: flex;
    direction:row;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin: 1rem;
    & button{
        @include button;
    }
}

.header__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2rem;
    li{
        list-style-type: none;
    }
    a{
        text-decoration: none;
        color: black;
        &:visited{
            color: black;
        }
    }
}

.flex__nav li{
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 5rem;
    margin-top: 5rem;
    font-size: 2rem;
}

img {
    border-radius: 15%;
    padding-top: 0.5rem;
}

.menu{
    display: flex;
    direction:row;
    justify-content: center;  
}

.button--home{
    @include button;
}