/* Your app custom styles here */
/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Poppins Regular'), local('Poppins-Regular'),
       url('../fonts/poppins-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v13-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/poppins-v13-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Poppins Italic'), local('Poppins-Italic'),
       url('../fonts/poppins-v13-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v13-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v13-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v13-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v13-latin-italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Poppins Bold'), local('Poppins-Bold'),
       url('../fonts/poppins-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v13-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/poppins-v13-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'),
       url('../fonts/poppins-v13-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v13-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v13-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v13-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v13-latin-700italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-900 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v13-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Poppins Black'), local('Poppins-Black'),
       url('../fonts/poppins-v13-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v13-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v13-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v13-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v13-latin-900.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-900italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/poppins-v13-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local('Poppins Black Italic'), local('Poppins-BlackItalic'),
       url('../fonts/poppins-v13-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v13-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v13-latin-900italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v13-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v13-latin-900italic.svg#Poppins') format('svg'); /* Legacy iOS */
}



* {
	font-family: 'Poppins', Arial, sans-serif;
}
.visible{
  display: block;
  visibility: visible;
}
.oculto{
  display: none;
  visibility: hidden;
}
/*INDEX*/
#textoIndex{
  text-align: center;
  color: #ffffff;
  font-size: 45px;
}
.imgIndex{
  box-shadow: 10px 8px 2.5px 2px black;
}
.titleIndex{
  font-size: 45px;
  color: #4dc249;
  margin-left: 25%;
  font-style:italic;
}

/*PANEL YOO*/
#textoImagenes {
  font-size: 16.1px;
  text-align: center;
  color: white;
  margin-bottom: 5px;
  font-style:italic;
}

.imgYo{
  margin-bottom: 32px;
}
.imgYoo{
  box-shadow: 10px 8px 2.5px 2px black;
}
.segmented.segmented-strong {
  background-color: rgb(67 255 86);
}

.subnavbar-inner {
  background-color: #4dc249;
}
.navbar-inner {
  background-color: #4dc249;
}
.titleYo{
  color: #ffffff;
  font-size: 30px;
}
/*---------------------------*/


/*MIS RUTINAS*/
.row.no-gap {
  margin-bottom: 40px;
}

.crearRutina {
  background-color: white;
  color: green;
  font-size: 18px;
  /* border-bottom-style: double; */
  box-shadow: 3px 8px 2.5px 2px black;
}

.titulo {
  font-size: 28px;
  text-align: center;
  color: white;
}


/*PANEL CASA*/
.btnPanelCasa{
  background-color: white;
  border: none;
}

/*PANEL Salir*/
.btnPanelSalir{
  background-color: white;
  border: none;
}



/*PANEL ESCUELA*/
.imgEscuela{
  box-shadow: 10px 8px 2.5px 2px black;
}
/*---------------------------*/



/*navbar indexUsuarioRegistrado.html*/
.title-large-text {
  background-color: white;
  text-align: center;
}

.navbar-inner.sliding {
  background-color: #ffffff;
}


/* crearRutina */
p#texto-picto {
  text-align: center;
}

/* bucador.hmtl */
button#buscar {
  width: 20%;
}

/*agenda2.html*/
img.link.popover-open {
  width: 25%;
} 
div#hacer1 {
    margin-right: 40%;
}
div#hacer2 {
  margin-right: 40%;
}
div#hacer3 {
  margin-right: 40%;
}
div#hacer4 {
  margin-right: 40%;
}
div#hacer5 {
  margin-right: 40%;
}
p#picejemplo1 {
  color: black;
}
p#picejemplo2 {
  color: black;
}
p#picejemplo3 {
  color: black;
}
p#picejemplo4 {
  color: black;
}
p#picejemplo5 {
  color: black;
}
div#primeraetapa {
  margin-top: 65%;
  margin-left: 35%;
}
/*-------------------*/

.demo-icon {
  background: #EE350F;
  color: #fff;
  border-radius: 50%;
  text-align: center;
}

#imgLogin{
  margin-top: 17px;
  margin-bottom: 2px;
  box-shadow: 1px 1px 1px 1px #f7f7f8;
  background-color: #f7f7f8;
}


#imgMenuSR{
  box-shadow: 1px 1px 1px 1px #ffffff;
  margin-right: 5%;
}


.alertMsg{
color: red;
}
#ingresrSinUser{
  text-align: center;
  color: #007aff;
}
#btnStyle{
  width: 100%;
  border-radius: 5px;
}
img{
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0px 0px 8px 5px  #000000;
}

#btnStylePop{
  padding: 50px;

}
.btnPanelPrincipal{
  background-color: #4dc249;
  border-style: none;
}
.page-content.hide-navbar-on-scroll {
  background-color: #4dc249;
}
.block.block-strong {
  background-color: #4dc249;
}

.btnPop{
  background-color: white;
  border-style: none;
}

.encontrado{
  width: 50px; height: 50px;
}
.picname{
  margin-left:20px;
  
}